@using CamadaDeApresentacao.Models
@model Usuario

@{
    ViewBag.Title = "Usuário";
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "Usuario"))
{
    @*Html.EditorFor(x => x.Email)
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)

    <br/>

    @Html.LabelFor(x => x.Nome)
    @Html.EditorFor(x => x.Nome)*@

    @Html.EditorForModel()
    <input type="submit" value="Salvar" />
}
